header {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15rem;
  background: var(--linear-green);
  position: fixed;
  z-index: 15;
  box-shadow: 0px 0px 13px #193d4c;
}
.menuBtns,
.menuBtns.menuClose,
.menuBtns.menuOpen {
  display: none;
}
.searchBar {
  display: flex;
  flex-direction: row-reverse;
  background: var(--linear-white);
}
.searchBar input[type="text"] {
  background-color: transparent;
  width: 42rem;
  border: none;
  font-size: 1.3rem;
  padding-left: 2rem;
  font-family: "Poppins", sans-serif;
  color: var(--Branco);
  letter-spacing: 0.1rem;
}
.searchBar input[type="text"]::placeholder {
  color: var(--Branco);
  font-family: "Poppins", sans-serif;
  font-style: italic;
  opacity: 0.6;
  font-size: 1.3rem;
}
.searchBar button[type="submit"] {
  width: 6rem;
  height: 3rem;
  background-color: transparent;
  border-right: 0.2rem solid #27576b;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
}
header nav a {
  text-decoration: none;
  font-size: 1.4rem;
}
header nav a:nth-child(1) {
  color: var(--Branco);
  margin-right: 3rem;
}
.loginBtn,
.signupBtn {
  border-radius: 0.6rem;
  font-weight: bold;
}
.loginBtn {
  padding: 1rem 2.5rem;
  background-color: transparent;
  color: var(--Branco);
  border: 0.2rem solid var(--Branco);
  margin-right: 3rem;
}
.signupBtn {
  padding: 1rem 0.2rem;
  background-color: var(--Branco);
  border: 0.2rem solid var(--Branco);
  color: var(--Verde-claro);
}
header nav a:nth-child(3) {
  background-color: aliceblue;
}
main {
  padding-top: 8rem;
}
.bannerInit {
  background-image: url("../img/background-image.png");
  width: 100%;
  height: 50rem;
  display: flex;
  align-items: center;
  padding-left: 15rem;
  margin-bottom: 8rem;
}
.bannerText {
  font-size: 3.2rem;
  width: 54rem;
  font-weight: 700;
  color: var(--Branco);
}
.bannerText::after {
  content: "<T>ECH";
  font-style: italic;
  font-weight: 300;
  color: var(--Branco);
}
.seeCourses {
  padding: 0 15rem;
  margin-bottom: 10rem;
}
.seeCourses h2 {
  font-family: "Oswald", sans-serif;
  font-size: 2.4rem;
  color: var(--Verde-escuro);
}
.items-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.item {
  min-height: 27rem;
  width: fit-content;
  border: 0.3rem solid #8ec3d9;
  margin-top: 6rem;
}
.priceLink {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}
.priceLink p {
  text-transform: uppercase;
  color: var(--Verde-claro);
  font-weight: 800;
  font-size: 1.4rem;
}
.priceLink a {
  color: var(--Rosa-escuro);
  font-size: 1.4rem;
  font-style: italic;
}
.paddingStructure {
  padding: 1.5rem;
}
.paddingStructure h3 {
  font-family: "Oswald", sans-serif;
  font-size: 1.8rem;
  width: 21rem;
  letter-spacing: 2px;
  margin-bottom: 0.4rem;
  color: var(--Verde-escuro);
}
.paddingStructure span {
  color: #949494;
  font-size: 1.3rem;
}

/*LOGIN PAGE*/
.loginPage {
  height: 100vh;
  width: 100%;
  background-color: #193d4c;
  background-image: url("../img/image-login.png");
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: contain;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  padding-right: 10rem;
}
.loginPage .loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginPage .loginForm h1 {
  color: var(--Branco);
  margin-bottom: 5rem;
}
.loginPage .inputLogin {
  height: 4rem;
  width: 35rem;
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  border-bottom: 0.2rem solid white;
  background-color: var(--Verde-escuro);
}
.loginPage .inputLogin img {
  object-fit: contain;
}
.loginPage .inputData {
  height: 4rem;
  width: 30.8rem;
  background-color: transparent;
  padding-left: 2rem;
  border: none;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--Branco);
}
.loginPage .inputData::placeholder {
  color: var(--Branco);
  opacity: 0.8;
}

.loginPage .loginForm button[type="submit"] {
  padding: 1.1rem 11.7rem;
  background-color: var(--Rosa);
  border: none;
  color: var(--Branco);
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
  font-family: "Poppins", sans-serif;
}

.loginPage .copywrite {
  position: absolute;
  color: var(--Branco);
  width: 32.3rem;
  font-size: 1.2rem;
  text-align: center;
  bottom: 1rem;
  right: 10rem;
}
.loginPage .dontHaveAccount {
  width: 35rem;
  text-align: center;
  font-size: 1.4rem;
  color: var(--Branco);
}
.loginPage .dontHaveAccount a {
  color: var(--Rosa);
}

/*SIGNUP PAGE*/
.signupPage {
  height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  background-image: url("../img/image-signup.png");
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: contain;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  padding-right: 10rem;
}
.signupPage .signupForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signupPage .signupForm h1 {
  color: var(--Rosa);
  margin-bottom: 5rem;
}
.signupPage .inputSignup {
  height: 4rem;
  width: 35rem;
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
  border-bottom: 0.2rem solid var(--Rosa);
}
.signupPage .inputSignup img {
  object-fit: contain;
}
.signupPage .inputData {
  height: 4rem;
  width: 30.8rem;
  background-color: #f5f5f5;
  padding-left: 2rem;
  border: none;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: var(--Rosa);
}
.signupPage .inputData::placeholder {
  color: var(--Rosa);
  opacity: 0.8;
}

.signupPage .signupForm button[type="submit"] {
  padding: 1.1rem 9.5rem;
  background-color: var(--Verde-claro);
  border: none;
  color: var(--Branco);
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
  font-family: "Poppins", sans-serif;
}

.signupPage .copywrite {
  position: absolute;
  /* background-color: #ffc; */
  color: var(--Rosa);
  width: 32.3rem;
  font-size: 1.2rem;
  text-align: center;
  bottom: 1rem;
  right: 10rem;
}
.signupPage .alreadyHaveAccount {
  width: 35rem;
  text-align: center;
  font-size: 1.4rem;
  color: var(--Rosa);
  font-weight: bold;
}
.signupPage .alreadyHaveAccount a {
  color: var(--Verde-claro);
}

@media screen and (max-width: 1330px) {
  .loginPage {
    background-image: url("../img/image-login-850px.png");
    background-position: left bottom;
  }
}
@media screen and (max-width: 1000px) {
  .loginPage {
    background-image: url("");
    background: #15323e;
    padding-right: 0;
    align-items: center;
  }
  .loginPage .copywrite {
    position: absolute;
    color: var(--Branco);
    width: 100%;
    font-size: 1.2rem;
    text-align: center;
    bottom: 5rem;
    right: 0;
  }
  .loginPage .inputLogin {
    height: 5rem;
    width: 90%;
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
    border-bottom: 0.2rem solid white;
    background-color: var(--Verde-escuro);
  }
  .loginPage .loginForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
  }
}

@media screen and (max-width: 1150px) {
  header {
    padding: 0 5rem;
  }
  .searchBar input[type="text"] {
    width: 32rem;
  }
}
@media screen and (max-width: 916px) {
  .searchBar input[type="text"] {
    width: 20rem;
  }
}
@media screen and (max-width: 830px) {
  header {
    padding: 0 5rem;
  }
  .searchForm.active {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 8rem;
    right: 0;
    background: var(--linear-green);
    display: flex;
    padding: 8rem 0;
    justify-content: center;
  }
  .searchForm .searchBar input[type="text"] {
    display: none;
  }
  .searchForm.active .searchBar {
    height: 6rem;
    width: 80%;
    align-items: center;
    justify-content: space-between;
  }
  .searchForm.active .searchBar input[type="text"] {
    display: flex;
    height: 6rem;
    width: 80%;
  }
  .searchForm.active .searchBar button[type="submit"] {
    width: 6rem;
    height: 6rem;
    background-color: var(--Rosa);
    border: none;
  }
  .searchForm .searchBar {
    background: transparent;
  }
  .searchForm .searchBar button[type="submit"] {
    width: 6rem;
    height: 6rem;
    background: transparent;
    border: none;
  }
  .searchBar button[type="submit"] img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
  }
  .bannerInit {
    background-image: url("../img/waves-bg.png");
    background-color: var(--Rosa);
  }
  .bannerInit {
    padding: 0;
    justify-content: center;
  }
  .bannerText {
    text-align: center;
  }
    .seeCourses {
      margin-bottom: 10rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
  }
  .seeCourses h2 {
    width: 100%;
    font-size: 2.8rem;
    text-align: center;
}
  .items-col {
    justify-content: center;
}
  .menuBtns.menuOpen {
    display: block;
  }
  .menuBtns.menuClose {
    display: none;
  }
  .navBar {
    display: none;
  }
  .navBar.active {
    position: fixed;
    top: 8rem;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: var(--linear-green);
    text-align: center;
  }
  .navBar.active a {
    font-size: 2rem;
    text-align: center;
    margin-right: 0;
  }
  .navBar.active a:nth-child(2) {
    margin: 6rem 0;
  }
}
